In [ ]:
import pandas as pd

In [ ]:
cols = ['user_id','age','gender', 'occupation', 'postal_code']
frame = pd.read_table('resources/u.user', sep='|', header=None,  names=cols)

In [ ]:
frame.describe()

In [ ]:
frame.dtypes

In [ ]:
frame.describe(include=['object'])

In [ ]:

frame.rename(columns={"postal_code":"zip_code"}, inplace=True)

In [ ]:
frame

In [ ]:
frame.columns

In [ ]:
frame.columns = frame.columns.str.replace('_', '-')

In [ ]:
frame.columns

In [ ]:
frame2 = frame

In [ ]:
frame2.drop(['zip-code'], axis=1)

In [ ]:
frame2.drop(frame2.index[10:21], axis=0)

In [ ]:
frame.head()

In [ ]:
frame.age.sort_values()

In [ ]:
frame.age.sort_values(ascending=False)

In [ ]:
frame.sort_values('age')

In [ ]:
 frame.sort_values(['age', 'postal_code'])

In [ ]:
frame.loc[frame.occupation.isin(['student', 'librarian'])]

In [ ]:
# frame_with_ignored_cols = pd.read_csv('path_to_csv.file', usecols=[<indexes> | <col_names>])

In [ ]:
# frame_with_slice_rows = pd.read_csv('path_to_csv.file', nrows=3)

In [ ]:
drinks = pd.read_csv('resources/drinks.csv', index_col='Country')

In [ ]:
drinks.dtypes

In [ ]:
import numpy as np
drinks.select_dtypes(include=[np.number])

In [ ]:
drinks.describe(include=['int64'])

In [ ]:
drinks.drop(columns=['country', 'continent']).mean(axis='rows') # .mean(axis=0) 0=rows

In [ ]:
drinks.drop(columns=['country', 'continent']).mean(axis='columns') # .mean(axis=1) 1=columns

In [ ]:
drinks

In [ ]:
drinks['beer_servings'] = drinks.beer_servings.astype(float)

In [ ]:
drinks

In [ ]:
drinks = pd.read_csv('resources/drinks.csv', dtype={'country':str,'beer_servings':float})

In [ ]:
drinks.dtypes

In [ ]:
orders = pd.read_table('resources/chipotle.tsv')

In [ ]:
orders

In [ ]:
orders['item_price'] = orders.item_price.str.replace("$", "")

In [ ]:
orders['item_price'] = orders.item_price.astype(float)

In [ ]:
orders.item_price.mean()

In [ ]:
drinks.groupby('continent').beer_servings.mean()

In [ ]:
drinks.loc[drinks['continent'] == 'Africa'].beer_servings.mean()

In [ ]:
drinks.loc[drinks.continent == "Africa"].beer_servings.agg(['max','min'])

In [ ]:
drinks.groupby('continent').beer_servings.agg(['max','min'])

In [ ]:
drinks_numerics =  drinks.drop(columns=['country'])
drinks_numerics.groupby('continent').mean()

In [ ]:
%matplotlib inline

In [ ]:
drinks_numerics.groupby('continent').mean().plot(kind='bar')

In [ ]:
drinks.continent.describe()

In [ ]:
drinks.continent.describe().unique

In [ ]:
drinks.describe()

In [ ]:
drinks.continent.value_counts()

In [ ]:
drinks.continent.value_counts(normalize=True)

In [ ]:
drinks.continent.unique()

In [ ]:
drinks.continent.nunique()

In [ ]:
pd.crosstab(drinks.continent, drinks.country)

In [ ]:
drinks

In [ ]:
drinks.beer_servings.describe()

In [ ]:
%matplotlib inline

In [ ]:
drinks.continent.value_counts().plot(kind='bar')

In [ ]:
drinks.beer_servings.plot(kind='hist')

# HANDLING MISSING VALUES

In [ ]:
ufo = pd.read_csv('resources/ufo.csv')

In [ ]:
ufo.isnull().tail()

In [ ]:
ufo.notnull().tail()

In [ ]:
ufo.isnull().sum()

In [ ]:

ufo.loc[ufo.City.isnull()]

In [ ]:
ufo.dropna(how='any')

In [ ]:
ufo.dropna(how='all')

In [ ]:
ufo.dropna(subset=['City', 'Shape Reported'], how='all')

In [ ]:
ufo['Shape Reported'].value_counts(dropna=False)

# Replacing Missing Values

In [ ]:
import pandas as pd
ufo = pd.read_csv('resources/ufo.csv')

percentages = ufo['Shape Reported'].value_counts(normalize=True)
percentages.index.tolist()
# import random
# def guess_shape():
#     return random.choices(percentages.index.tolist(), weights=percentages.tolist(), k=1)[0]

In [ ]:
ufo['Shape Reported'].value_counts(normalize=True, dropna=True)

In [ ]:
ufo['Shape Reported'].fillna(value=guess_shape(), inplace=True)

In [ ]:
ufo['Shape Reported'].value_counts(normalize=True, dropna=True)

# Indexing application in dataframes:
1. Identification (each row has a sticky identifier)
2. Selection (using loc function)
3. Allignment (mix to dataseries our dataframes together even if they doont have equal length and it matches by indexes)

In [ ]:
# Alignment example
serie_1 = pd.Series([1000, 2000, 3000], index=["Chips", "Pofak", "Pastil"], name="HaleHoole")
serie_2 = pd.Series([227, 149], index=["Chips", "Pastil"], name="HaleHoole_tedad")
serie_1 * serie_2

In [ ]:
# or another example for allignment:

pd.concat([serie_1, serie_2], axis = 'columns')

# What is loc and iloc and ix

In [ ]:
# loc works with labels
# frame.loc[rows, columns] like frame.loc[1, :] means row one but all columns

#iloc uses integer position of rows and columns
#frame.iloc[2:5, :]

# ix uses mix of integer positions and labels for finding
# frame.ix[2:5, 'a':'z'] or frame.ix['a':'z', 1:4]   (DEPRECATED)

In [ ]:
# ranges :
# 3:6 means 3,4,5,6 in loc and 3,4,5 in iloc
# so ranges are inclusive in loc but not in iloc

# When should I use frame.loc[] and when should I use frame[] when we have oolean filtering?

# Working with category datatype

In [ ]:
import pandas as pd
drinks = pd.read_csv('resources/drinks.csv')

In [ ]:
drinks
sorted(drinks.continent.unique())

In [ ]:
drinks.memory_usage(deep=True).sum()

In [ ]:
# drinks.continent = drinks.continent.astype('category')
# or
drinks.continent = drinks.continent.astype(pd.api.types.CategoricalDtype(categories = sorted(drinks.continent.unique()), ordered=True))

In [ ]:
drinks.loc[drinks.continent > 'Europe'] # IMPORTANT

In [ ]:
# drinks.country = drinks.country.astype('category') 
# this conversion is not memoryy efficient because in the normal state pandas stores 193 strings 
# for the countries ut after this code it should save 193 integers and 193 strings again for the category map.

# But as a result we can say that converting to category dtypes makes computaions faster when 
# we have large volume of data

In [ ]:
drinks.memory_usage(deep=True).sum()

In [ ]:
drinks.info(memory_usage='deep')

In [ ]:
drinks.continent.sort_values().head(70)

In [1]:
# Working with samples

In [2]:
import pandas as pd

In [9]:
drinks = pd.read_csv('resources/drinks.csv')

In [11]:
# sample = drinks.sample(3)
train = drinks.sample(frac=0.25)
test = drinks.loc[~drinks.index.isin(train.index), :]

In [12]:
len(test), len(train)

(145, 48)

# WORKING WITH KAGGLE DATASETS

In [14]:
import pandas as pd

In [38]:
passengers = pd.read_csv('resources/titanic_train.csv')

In [16]:
passengers.shape

(891, 12)

In [22]:
passengers.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [23]:
passengers.Sex = passengers.Sex.map({'male':1, 'female':0})

In [24]:
passengers.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",1,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",0,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",0,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",0,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",1,35.0,0,0,373450,8.0500,NaN,S

In [25]:
# or

In [30]:
# passengers.Sex = pd.get_dummies(passengers.Sex).iloc[:, 1:]

In [31]:
# passengers.head(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",True,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",False,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",False,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",False,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",True,35.0,0,0,373450,8.0500,NaN,S

In [32]:
# we can try second way for columns with multiple values

In [33]:
# embarked = pd.get_dummies(passengers.Embarked).iloc[:, 1:]

In [36]:
# pd.concat([passengers, embarked], axis=1)

# Passing a frame to get_dummies

In [ ]:
pd.get_dummies(passengers, columns=[])