In [2]:
import pandas as pd
from pathlib import Path
Path.cwd()

PosixPath('/Users/audioworkstation/Documents/WORKSPACE/LEARNING/pd-training/src/pandas_series')

In [44]:
frame = pd.read_csv('resources/survey_results_public.csv', index_col="Respondent")
pd.set_option('display.max_columns', 85)
pd.set_option('display.max_rows', 200)

In [27]:
# frame.shape
# frame.info()
# frame.head(1)

In [29]:
schema_frame = pd.read_csv('resources/survey_results_schema.csv', index_col="Column")
pd.set_option('display.max_rows', 85)

In [121]:
# schema_frame.shape
# schema_frame.info()
# schema_frame.head()

In [122]:
# Now we can search on `Column` column with loc function, because the default index is changed.
# (first parameter is for row filter aand second one is for column name)
schema_frame.loc["Respondent", "QuestionText"]

In [ ]:
# What is a dataframe?
# They are a simple schema over a table with concists of rows and columns
# It is also something like a dictionary with list items BUT with a large number of added functionalities.
# DataFrames are rows and columns and Series are the rows of the columns.

In [ ]:
frame[["Respondent", "Hobbyist"]]

In [ ]:
frame.iloc[1000:1010] # Integer location of a row

In [ ]:
frame.iloc[[1000,1001, 1002], [1,2]] # Integer location of the rows and special columns

In [ ]:
frame.loc[1000:1005, ["MainBranch","Hobbyist"]] # Integer location (as deafault indexes) of the rows and special columns using loc

In [ ]:
frame["Hobbyist"].value_counts()

In [ ]:
frame.loc[1000:1005, "MainBranch":"Country"] # Define column range

In [40]:
# Indexes are not forced to be unique for pandas
# But it would have better performance if we create it on unique columns
# Indexes are labels for rows
# frame.set_index("Respondent", inplace=True) # With inplace=True set the current index as a default index
# frame.index
# frame
# frame.loc[1] # Now it is using `Respondent` columns as index and search in this column for value `1`
# frame.reset_index(inplace=True)
# schema_frame.sort_index(ascending=False, inplace=True) # inplace=True makes this descending order for index permanent

In [123]:
countries_filter = frame["Country"].isin(["United States", "Iran", "Germany"])
age_filter = frame["Age1stCode"] == "29"
pythonist_filter = frame["LanguageWorkedWith"].str.contains("Python", na=False) == True # na=False means exclude rows with NaN from filtering to avoid exceptions
# frame[countries_filter & age_filter & pythonist_filter]
filtered = frame.loc[
    countries_filter & age_filter & pythonist_filter,
    ("LanguageWorkedWith", "Student", "Age", "Country")
] # Preferred way

# filtered.shape, filtered.size, len(filtered)
filtered

In [131]:
frame.columns = [column.upper() for column in frame.columns]
frame.columns = frame.columns.str.replace(' ', '_')
frame.rename(
    columns={
        "old_column_name": "new_name",
        "OPENSOURCER": "open_sourcer"
    },
    inplace=True # inplace=True for applying permanently
)

In [134]:
frame.loc[1, ("HOBBYIST", "open_sourcer")] = ["No", "Less than once per year"] # in this way we don't need to pass all the repetitive values and can just set changes.

In [136]:
frame.at[1, "HOBBYIST"] = "Yes"

In [26]:
frame.loc[
    (frame["COUNTRY"] == "United Kingdom") & (frame["DEVENVIRON"] == "IntelliJ;Notepad++;PyCharm"), # filtering rows
    "WEBFRAMEDESIRENEXTYEAR" # columns to be updated
] = "FLASK2"
frame[frame["WEBFRAMEDESIRENEXTYEAR"] == "FLASK2"]

In [25]:
apply: applies on series and also dataframes
frame["ITPERSON"].apply(lambda x: x * 1)
frame.apply(len , axis = "columns") # it will apply on each series of frame by default(axis='rows')
frame.apply(pd.Series.min) # min value of each columns if all values in a columns are of the same type

map: applies only on a series and substitue any value in a series with a new value
'''
in here every `Windows` in OPSYS column will be replaced with `Microsoft` but the unmentioned one will be NaN 
and if we want to ignore unmentioned one we can use replace instead of map function
'''
frame["OPSYS"].map({"Windows": "Microsoft"})

applymap : applies a function to any individual item in the dataframe (Just for fataframes not for series)
frame.applymap(lambda x: x)
frame.applymap(str.lower)

replace
frame["OPSYS"].replace({"Windows": "Microsoft"})

In [28]:
ADDING AND REMOVING COLUMNS:

frame["calculated_age"] = frame["Age1stCode"] + ' ' + frame["YearsCode"] 
frame.drop(columns=["calculated_age"], inplace=True) # to apply inline
splited = frame["calculated_age"].str.split(' ', expand=True) # this does not work well because of NaN values
frame[["first", "second"]] = splited

In [68]:
ADDING AND REMOVING ROWS:
schema_frame.append({"QuestionText": "TEST"}, ignore_index=True) # This method is deprecated in pandas
schema_frame = pd.read_csv('resources/survey_results_schema.csv')
data = {
    "Column": ["new_column"],
    "QuestionText": ["Is this a new question?"]
}
appending_df = pd.DataFrame(data)
schema_frame.append(appending_df, ignore_index=True, sorted=False) # This does not work also

df3 = pd.concat([schema_frame, appending_df], ignore_index = True)
df3.reset_index()
schema_frame.loc[len(schema_frame.index)] = ["New Columns", "New Question"]

Remove using index
schema_frame.drop(index=85 , inplace=True)
schema_frame

Remove using filters
filt = schema_frame["Column"] == "New Columns"
schema_frame.drop(index=schema_frame[filt].index,  inplace=True)

schema_frame

In [76]:
schema_frame.sort_values(by=["Column"], ascending=False)
schema_frame.sort_values(by=["Column", "QuestionText"], ascending=False) # sort based on `Column` and then `QuestionText` descending
schema_frame.sort_values(by=["Column", "QuestionText"], ascending=[True, False]) # sort based on `Column` ascending and then `QuestionText` descending
schema_frame.sort_index() # to revert every sortings  has applied

In [82]:
frame.sort_values(by=["Country", "ConvertedComp"], ascending=[True, False], inplace=True)
frame[["Country", "ConvertedComp"]].head(100)

In [85]:
frame["ConvertedComp"].nlargest(10) # to see n largest salaries
frame.nlargest(10, "ConvertedComp") # to see 10 rows with highest salaries

In [95]:
frame["ConvertedComp"].median()
frame.describe() # count is number of not NaN rows, 50% is median
frame["ConvertedComp"].count() # like count row in the above code
frame["Hobbyist"].value_counts()
frame["SocialMedia"].value_counts(normalize=True)

Hobbyist
Yes    71257
No     17626
Name: count, dtype: int64

In [78]:
country_grp = frame.groupby(["Country"])

country_grp.get_group("Iran")["SocialMedia"].value_counts()
country_grp["SocialMedia"].value_counts()
country_grp["SocialMedia"].value_counts(normalize=True).loc["Germany"]
country_grp["ConvertedComp"].median()
country_grp["ConvertedComp"].median().loc["Germany"]
country_grp["ConvertedComp"].agg(["median", "mean"]).loc["Germany"]
country_grp.get_group("Germany")["LanguageWorkedWith"].str.contains("Python").sum() # all pythonists in germany
# country_grp["LanguageWorkedWith"].str.contains("Python").sum() # This will raises an error `'SeriesGroupBy' object has no attribute 'str'`  but instead:
# we want to calculate number of pythonist in each country so actually we are applying a function in a groupby instance
country_grp["LanguageWorkedWith"].apply(lambda x: (x.str.contains("Python").sum() / len(x)) * 100) # number of pythonists in each country
country_grp["LanguageWorkedWith"].apply(lambda x: x.str.contains("Python").value_counts(normalize=True)) # this method is not so precise because it ignores the NaN cases

Country
Iran                                       False      463
                                           True       268
Iraq                                       False       19
                                           True        17
Ireland                                    False      286
                                           True       209
Israel                                     False      487
                                           True       457
Italy                                      False      929
                                           True       625
Jamaica                                    False       20
                                           True         8
Japan                                      False      205
                                           True       182
Jordan                                     False       43
                                           True        22
Kazakhstan                                 False       49
                                           True        15
Kenya                                      True       120
                                           False      119
Kuwait                                     False       14
                                           True         6
Kyrgyzstan                                 False       13
                                           True         6
Lao People's Democratic Republic           False        3
Latvia                                     False       97
                                           True        39
Lebanon                                    False       74
                                           True        42
Lesotho                                    False        2
                                           True         1
Libyan Arab Jamahiriya                     False        8
                                           True         2
Liechtenstein                              False        2
                                           True         1
Lithuania                                  False      165
                                           True        79
Luxembourg                                 False       35
                                           True        25
Madagascar                                 False       10
                                           True         4
Malawi                                     False        2
Malaysia                                   False      195
                                           True        95
Maldives                                   False        7
                                           True         6
Mali                                       False        2
                                           True         1
Malta                                      False       45
                                           True        20
Mauritania                                 True         5
                                           False        2
Mauritius                                  False       18
                                           True         8
Mexico                                     False      388
                                           True       245
Monaco                                     True         2
                                           False        2
Mongolia                                   False        9
                                           True         8
Montenegro                                 False        9
                                           True         8
Morocco                                    False      100
                                           True        50
Mozambique                                 False        6
                                           True         1
Myanmar                                    False       37
                                           True         9
Namibia                                    True         3
                                           False        2
Nepal                                      False      123
                                           True       101
Netherlands                                False     1071
                                           True       767
New Zealand                                False      283
                                           True       236
Nicaragua                                  False       20
                                           True        10
Niger                                      True         1
Nigeria                                    False      341
                                           True       152
North Korea                                False        1
Norway                                     False      336
                                           True       232
Oman                                       True         6
                                           False        5
Other Country (Not Listed Above)           False       88
                                           True        37
Pakistan                                   False      649
                                           True       251
Panama                                     False       20
                                           True        13
Papua New Guinea                           False        1
Paraguay                                   False       33
                                           True        19
Peru                                       False       80
                                           True        47
Philippines                                False      244
                                           True       117
Poland                                     False     1156
                                           True       751
Portugal                                   False      339
                                           True       182
Qatar                                      False        8
                                           True         5
Republic of Korea                          True        20
                                           False       17
Republic of Moldova                        False       35
                                           True         7
Romania                                    False      491
                                           True       253
Russian Federation                         False      978
                                           True       708
Rwanda                                     False        7
                                           True         5
Saint Kitts and Nevis                      False        1
Saint Vincent and the Grenadines           False        1
San Marino                                 True         1
                                           False        1
Sao Tome and Principe                      True         1
Saudi Arabia                               False       62
                                           True        33
Senegal                                    False       13
                                           True         8
Serbia                                     False      278
                                           True       117
Seychelles                                 False        1
                                           True         1
Sierra Leone                               True         1
Singapore                                  False      161
                                           True       139
Slovakia                                   False      155
                                           True       101
Slovenia                                   False      178
                                           True       119
Somalia                                    False        9
                                           True         3
South Africa                               False      414
                                           True       202
South Korea                                True        80
                                           False       77
Spain                                      False      947
                                           True       641
Sri Lanka                                  False      229
                                           True       137
Sudan                                      False       22
                                           True        16
Swaziland                                  False        6
                                           True         2
Sweden                                     False      767
                                           True       496
Switzerland                                False      512
                                           True       460
Syrian Arab Republic                       False       21
                                           True         7
Taiwan                                     False       95
                                           True        88
Tajikistan                                 False        6
Thailand                                   False      114
                                           True        92
The former Yugoslav Republic of Macedonia  False       45
                                           True         8
Timor-Leste                                True         1
Togo                                       False        3
                                           True         1
Tonga                                      False        1
Trinidad and Tobago                        False       14
                                           True         5
Tunisia                                    False       86
                                           True        40
Turkey                                     False      553
                                           True       371
Turkmenistan                               True         6
                                           False        1
Uganda                                     True        47
                                           False       25
Ukraine                                    False      615
                                           True       246
United Arab Emirates                       False      104
                                           True        49
United Kingdom                             False     3306
                                           True      2384
United Republic of Tanzania                False       16
                                           True        15
United States                              False    10686
                                           True     10083
Uruguay                                    False       75
                                           True        36
Uzbekistan                                 False       25
                                           True        14
Venezuela, Bolivarian Republic of...       False       59
                                           True        28
Viet Nam                                   False      142
                                           True        78
Yemen                                      False       14
                                           True         3
Zambia                                     False        8
                                           True         4
Zimbabwe                                   False       25
                                           True        14
Name: LanguageWorkedWith, dtype: int64

In [50]:
python_filter = frame["LanguageWorkedWith"].str.contains("Python") == True
python_dev = frame.loc[python_filter]
countries_pythonist_grp = python_dev.groupby("Country")
countries_pythonist_grp["ConvertedComp"].median().loc["Germany"]
python_dev["Country"].str.contains("Germany").sum()

63016.0