In [1]:
import pandas as pd

PosixPath('/Users/audioworkstation/Documents/WORKSPACE/LEARNING/pd-training/src/pandas_series')

In [29]:
pokemons = pd.read_csv('resources/pokemon_data.csv', index_col='#')

In [30]:
pokemons["power"] = pokemons.iloc[:, 3:9].sum(axis=1)

In [31]:
pokemons.head()

,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary,power
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False,318
2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False,405
3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False,525
3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False,625
4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False,309

In [32]:
cols = list(pokemons.columns.values)
pokemons = pokemons[cols[0:3] + [cols[-1]] + cols[3:11]]
pokemons.head()

,Name,Type 1,Type 2,power,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
#,,,,,,,,,,,,
1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [36]:
pokemons.to_csv('resources/modified_pokemons.csv', index=False)

In [46]:
import re
pokemons.loc[pokemons['Type 1'].str.contains("Gras|Fire")]
pokemons.loc[pokemons['Name'].str.contains("^pi[a-z]*", flags=re.I)]

Empty DataFrame
Columns: [Name, Type 1, Type 2, power, HP, Attack, Defense, Sp. Atk, Sp. Def, Speed, Generation, Legendary]
Index: []

In [84]:
pokemons.groupby(['Type 1'])['power'].median().sort_values(ascending=False)
pokemons.groupby('Type 1').sum()
pokemons.groupby(['Type 1', 'Type 2'])['power'].count()

Type 1  Type 2
Bug     Electric     2
        Fighting     2
        Fire         2
        Flying      14
        Ghost        1
                    ..
Water   Ice          3
        Poison       3
        Psychic      5
        Rock         4
        Steel        1
Name: power, Length: 136, dtype: int64